In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("Diabities-210331-154610.csv")

In [4]:
type(dataset)

pandas.core.frame.DataFrame

In [5]:
dataset.head(8)

,Unnamed: 0,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,NaN,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,NaN,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,NaN,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,NaN,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0
5,NaN,5.0,116.0,74.0,0.0,0.0,25.6,0.201,30.0,0.0
6,NaN,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0
7,NaN,10.0,115.0,0.0,0.0,0.0,35.3,0.134,29.0,0.0

In [6]:
dataset.head(-760)

,Unnamed: 0,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,NaN,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,NaN,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,NaN,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,NaN,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0
5,NaN,5.0,116.0,74.0,0.0,0.0,25.6,0.201,30.0,0.0
6,NaN,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0
7,NaN,10.0,115.0,0.0,0.0,0.0,35.3,0.134,29.0,0.0
8,NaN,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,1.0

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                0 non-null      float64
 1   Pregnancies               768 non-null    float64
 2   Glucose                   768 non-null    float64
 3   blood pressure            768 non-null    float64
 4   skin thickness            768 non-null    float64
 5   Insulin                   768 non-null    float64
 6   BMI                       768 non-null    float64
 7   DiabetesPedigreeFunction  768 non-null    float64
 8   Age                       768 non-null    float64
 9   Outcome                   768 non-null    float64
dtypes: float64(10)
memory usage: 60.2 KB

In [8]:
dataset.isnull()

,Unnamed: 0,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,True,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
764,True,False,False,False,False,False,False,False,False,False
765,True,False,False,False,False,False,False,False,False,False
766,True,False,False,False,False,False,False,False,False,False
767,True,False,False,False,False,False,False,False,False,False
768,True,True,True,True,True,True,True,True,True,True

In [9]:
dataset.isnull().sum()

Unnamed: 0                  769
Pregnancies                   1
Glucose                       1
blood pressure                1
skin thickness                1
Insulin                       1
BMI                           1
DiabetesPedigreeFunction      1
Age                           1
Outcome                       1
dtype: int64

In [34]:
x=dataset.iloc[:-1,1:-1]
y=dataset.iloc[:-1,-1]
print(x.shape)
print(y.shape)

(768, 8)
(768,)

In [35]:
y

0      1.0
1      0.0
2      1.0
3      0.0
4      1.0
      ...
763    0.0
764    0.0
765    0.0
766    1.0
767    0.0
Name: Outcome, Length: 768, dtype: float64

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [40]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [41]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred,normalize=True)
acc2=round(accuracy_score(y_test,y_pred),2)*100
print(acc2,"%")

79.0 %

In [45]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver='lbfgs',max_iter=1000)
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
accuracy_score(y_test,y_pred)

0.7662337662337663

In [46]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
accuracy_score(y_test,y_pred)

0.7077922077922078

In [47]:
len(x_test)

154